

name: Coverity with Self-Hosted Runner
on:
  push:
    branches: [ master, main ]

  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: [self-hosted]

    env:
      COVERITY_CHECKERS: --webapp-security
      COVERITY_URL: ${{ secrets.COVERITY_URL }}
      COVERITY_USER: ${{ secrets.COVERITY_USER }}
      COVERITY_PASSPHRASE: ${{ secrets.COVERITY_PASSPHRASE }}

    steps:
      - uses: actions/checkout@v2
      - name: Parse Coverity JSON
        uses: synopsys-sig/coverity-report-output-v7-json@v0.1.2
        with:
          json-file-path: idir
          github-token: ${{ secrets.COVERITY_GITHUB_TOKEN }}

